DATABASE_URL=jdbc:postgresql://localhost:5432/videgrenier221
DATABASE_USER=postgres
DATABASE_PASSWORD=
FIREBASE_ENABLED=true
GOOGLE_APPLICATION_CREDENTIALS=/chemin/vers/firebase-service-account.json
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
